@@ -0,0 +1,15 @@
query:
  query($owner:String!, $name:String!) {
    repository(owner:$owner, name:$name) {
      name
    }
  }
variables:
  owner:
    type: jq
    file: ../workflow/event.json
    query: '.repository.owner.login'
  name:
    type: jq
    file: ../workflow/event.json
    query: '.repository.name'
